<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangwenyu.resource.dao.CollectMapper">
  <resultMap id="BaseResultMap" type="com.zhangwenyu.resource.bean.CollectKey">
    <id column="collect_uid" jdbcType="VARCHAR" property="collectUid" />
    <id column="collect_rid" jdbcType="INTEGER" property="collectRid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    collect_uid, collect_rid
  </sql>
  <select id="selectByExample" parameterType="com.zhangwenyu.resource.bean.CollectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from collect
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zhangwenyu.resource.bean.CollectKey">
    delete from collect
    where collect_uid = #{collectUid,jdbcType=VARCHAR}
      and collect_rid = #{collectRid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhangwenyu.resource.bean.CollectExample">
    delete from collect
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhangwenyu.resource.bean.CollectKey">
    insert into collect (collect_uid, collect_rid)
    values (#{collectUid,jdbcType=VARCHAR}, #{collectRid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhangwenyu.resource.bean.CollectKey">
    insert into collect
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="collectUid != null">
        collect_uid,
      </if>
      <if test="collectRid != null">
        collect_rid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="collectUid != null">
        #{collectUid,jdbcType=VARCHAR},
      </if>
      <if test="collectRid != null">
        #{collectRid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhangwenyu.resource.bean.CollectExample" resultType="java.lang.Long">
    select count(*) from collect
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update collect
    <set>
      <if test="record.collectUid != null">
        collect_uid = #{record.collectUid,jdbcType=VARCHAR},
      </if>
      <if test="record.collectRid != null">
        collect_rid = #{record.collectRid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update collect
    set collect_uid = #{record.collectUid,jdbcType=VARCHAR},
      collect_rid = #{record.collectRid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>