<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangwenyu.resource.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.zhangwenyu.resource.bean.Comment">
    <id column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="comment_pid" jdbcType="INTEGER" property="commentPid" />
    <result column="comment_uid" jdbcType="VARCHAR" property="commentUid" />
    <result column="comment_text" jdbcType="VARCHAR" property="commentText" />
    <result column="comment_time" jdbcType="DATE" property="commentTime" />
  </resultMap>

  <resultMap id="ResultMapWithPostTitle" type="com.zhangwenyu.resource.bean.Comments">
    <id column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="comment_pid" jdbcType="INTEGER" property="commentPid" />
    <result column="comment_uid" jdbcType="VARCHAR" property="commentUid" />
    <result column="comment_text" jdbcType="VARCHAR" property="commentText" />
    <result column="comment_time" jdbcType="DATE" property="commentTime" />
    <association property="post" javaType="com.zhangwenyu.resource.bean.PostUtils">
      <id column="post_id" property="postId"></id>
      <result column="post_title" property="postTitle"></result>
    </association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    comment_id, comment_pid, comment_uid, comment_text, comment_time
  </sql>

  <sql id="Column_With_Post_List">
    c.comment_id,c.comment_pid, c.comment_uid, c.comment_text, c.comment_time,p.post_id,p.post_title
  </sql>

  <select id="selectAllComment"  resultMap="ResultMapWithPostTitle">
    select
    <include refid="Column_With_Post_List" />
    from comment c
    left join post p on c.comment_pid=p.post_id
  </select>



  <select id="selectByExample" parameterType="com.zhangwenyu.resource.bean.CommentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhangwenyu.resource.bean.CommentExample">
    delete from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhangwenyu.resource.bean.Comment">
    insert into comment (comment_id, comment_pid, comment_uid, 
      comment_text, comment_time)
    values (#{commentId,jdbcType=INTEGER}, #{commentPid,jdbcType=INTEGER}, #{commentUid,jdbcType=VARCHAR}, 
      #{commentText,jdbcType=VARCHAR}, #{commentTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.zhangwenyu.resource.bean.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="commentPid != null">
        comment_pid,
      </if>
      <if test="commentUid != null">
        comment_uid,
      </if>
      <if test="commentText != null">
        comment_text,
      </if>
      <if test="commentTime != null">
        comment_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="commentPid != null">
        #{commentPid,jdbcType=INTEGER},
      </if>
      <if test="commentUid != null">
        #{commentUid,jdbcType=VARCHAR},
      </if>
      <if test="commentText != null">
        #{commentText,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        #{commentTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhangwenyu.resource.bean.CommentExample" resultType="java.lang.Long">
    select count(*) from comment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update comment
    <set>
      <if test="record.commentId != null">
        comment_id = #{record.commentId,jdbcType=INTEGER},
      </if>
      <if test="record.commentPid != null">
        comment_pid = #{record.commentPid,jdbcType=INTEGER},
      </if>
      <if test="record.commentUid != null">
        comment_uid = #{record.commentUid,jdbcType=VARCHAR},
      </if>
      <if test="record.commentText != null">
        comment_text = #{record.commentText,jdbcType=VARCHAR},
      </if>
      <if test="record.commentTime != null">
        comment_time = #{record.commentTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update comment
    set comment_id = #{record.commentId,jdbcType=INTEGER},
      comment_pid = #{record.commentPid,jdbcType=INTEGER},
      comment_uid = #{record.commentUid,jdbcType=VARCHAR},
      comment_text = #{record.commentText,jdbcType=VARCHAR},
      comment_time = #{record.commentTime,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhangwenyu.resource.bean.Comment">
    update comment
    <set>
      <if test="commentPid != null">
        comment_pid = #{commentPid,jdbcType=INTEGER},
      </if>
      <if test="commentUid != null">
        comment_uid = #{commentUid,jdbcType=VARCHAR},
      </if>
      <if test="commentText != null">
        comment_text = #{commentText,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        comment_time = #{commentTime,jdbcType=DATE},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhangwenyu.resource.bean.Comment">
    update comment
    set comment_pid = #{commentPid,jdbcType=INTEGER},
      comment_uid = #{commentUid,jdbcType=VARCHAR},
      comment_text = #{commentText,jdbcType=VARCHAR},
      comment_time = #{commentTime,jdbcType=DATE}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
</mapper>