<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangwenyu.resource.dao.FollowMapper">
  <resultMap id="BaseResultMap" type="com.zhangwenyu.resource.bean.FollowKey">
    <id column="follow_uid" jdbcType="VARCHAR" property="followUid" />
    <id column="followed_uid" jdbcType="VARCHAR" property="followedUid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    follow_uid, followed_uid
  </sql>
  <select id="selectByExample" parameterType="com.zhangwenyu.resource.bean.FollowExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from follow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zhangwenyu.resource.bean.FollowKey">
    delete from follow
    where follow_uid = #{followUid,jdbcType=VARCHAR}
      and followed_uid = #{followedUid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhangwenyu.resource.bean.FollowExample">
    delete from follow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhangwenyu.resource.bean.FollowKey">
    insert into follow (follow_uid, followed_uid)
    values (#{followUid,jdbcType=VARCHAR}, #{followedUid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhangwenyu.resource.bean.FollowKey">
    insert into follow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="followUid != null">
        follow_uid,
      </if>
      <if test="followedUid != null">
        followed_uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="followUid != null">
        #{followUid,jdbcType=VARCHAR},
      </if>
      <if test="followedUid != null">
        #{followedUid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhangwenyu.resource.bean.FollowExample" resultType="java.lang.Long">
    select count(*) from follow
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update follow
    <set>
      <if test="record.followUid != null">
        follow_uid = #{record.followUid,jdbcType=VARCHAR},
      </if>
      <if test="record.followedUid != null">
        followed_uid = #{record.followedUid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update follow
    set follow_uid = #{record.followUid,jdbcType=VARCHAR},
      followed_uid = #{record.followedUid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>